.item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 5px;
    color: #fff;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    cursor: default;
}

.link {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}